.green {
    background-color: greenyellow;
}

.blue {
    background-color: lightblue;
}

.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}

.line {
    line-height: 3px;
}